:root {
    --primary-color: #3268b2;
    --secondary-color:#4fcaf3;
    --site-bakcground-color: #ffffff;
    --primary-text-color: #ffffff;
    --secondary-text-color: #1a1c53;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: url('../images/site-bg.png');
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
}

form {
    width: 95%;
    max-width: 480px;
    background: var(--primary-color);
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: .25rem .25rem .75rem var(--primary-text-color);
}

.site-logo-container {
    margin: 1.125rem auto;
    width: 40%;
    max-width: 5rem;
}

.site-logo-container img {
    width: 100%;
}

input[type="text"],
input[type="password"],
input[type="date"] {
    width: 80%;
    margin: .4rem auto;
    font-size: .9rem;
    padding: .5rem .5rem .5rem 1.5rem;
    border-radius: .4rem;
    border: .25rem solid var(--primary-text-color);
}

.form-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 1.125rem auto;
}

input[type="submit"] {
    font-size: .8rem;
    padding: .5rem;   
}

p {
    width: 80%;
    text-align: center;
    font-size: 1.125rem;
    color: var(--primary-text-color);
    margin: .4rem auto;
}

p a {
    text-decoration: underline;
    color: var(--primary-text-color);
    font-size: .8rem;
    margin: 1.125rem auto;
}

.goto-register-paragraph {
    color: var(--secondary-text-color);
    font-size: .8rem;    
}

.form-signup-gender-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: .4rem auto;
    font-size: 1.125rem;
    color: var(--secondary-text-color);
}

.signup-gender-container-male,
.signup-gender-container-female,
.signup-gender-container-secret {
    background-color: var(--primary-text-color);
    padding: .5rem;
    border-radius: .4rem;
}

.signup-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: .4rem auto;
    padding-bottom: 1.125rem;
}

.goto-signin-paragraph {
    font-size: .8rem;
    margin: 0;
    left: 0;
    color: var(--secondary-text-color);
}
